
body {
  margin: 0px;
  background: rgb(54, 35, 52);
} 

#header {
  position: fixed;
 
  background: rgb(221, 189, 217);
  top: 0px;
  width: 100%;
  height: 100px;
}

a {
  color: white;
  
}

.ul {
  list-style-type: none;
  justify-content: space- around;
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: space-around;
  
}

#header-img{
  width: 80px;
  height:50px;
  border: 2px;
}

#submit{
  text-transform:uppercase;
  background-color:white;
  font-weight: bold;
}
#whatwedo {
  text-align: left;
  flex-wrap; wrap;
  flex-direction: column;
}

h2 {
  text-align: center;
  font-size: 40px;
  color: white;
}

#form {
  text-align: center;
  color: white;
}

#email{
  text-align: center;
}

#video {
  margin-left: 150px;
  width: 560px;
  height:315px;
  margin-right:150;
}

@media only screen and (max-width: 600px) 
{
}
#nav-bar{
  background-color: green;
}

#contactus{
   display: flex;
  flex-direction: column;
 }

 * {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 50%;
  padding: 10px;
   
}


.row:after {
  content: "";
  display: table;
  clear: both;
}